img.list-item-featured-image {
  height: 30%;
  max-height: 50%;
  margin-left: 15px;
  margin-right: 15px;
  max-width: 100%;
  object-fit: cover;
  margin: auto;
}
img.featured-image {
  margin: auto;
}
